._*
.*.swp
.*.swo
*.idea
*.rbc
*.sassc
**.orig
.DS_Store
.rspec
.sass-cache
.swp
.vagrant
/.bundle
/.idea
/coverage/
/db/*.sqlite3
/log/*
/public/assets
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
_local_*
capybara-*.html
pickle-email-*.html
rerun.txt