# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?

# RVM and rbenv
/.rvmrc
/.rbenv-version

# Bundler binstubs
/bin/

*.rbc
*.sassc
**.orig
.rspec
.sass-cache
.swp
.vagrant
/.bundle
/.idea
/coverage/
/db/*.sqlite3
/log/*
/public/assets
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
_local_*
capybara-*.html
pickle-email-*.html
rerun.txt