# Folder view configuration files
.DS_Store

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Vim swap files
.*.sw?

# RVM and rbenv
/.rvmrc
/.rbenv-version

# Bundler binstubs
/bin/

# IDEs stuff
.idea

*.rbc
*.sassc
**.orig
.rspec
.sass-cache
.swp
.vagrant
/.bundle
/.idea
/coverage/
/db/*.sqlite3
/log/*
/public/assets
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
_local_*
capybara-*.html
pickle-email-*.html
rerun.txt